@import "tailwindcss";

:root {
  --background: #000000;
  --sidebar: #000000;
  --player: #1b1b1b;
  --text-primary: #FFFFFF;
  --text-secondary: #999999;
  --accent: #ffa31a;
  --accent-hover: #ffb347;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text-primary);
  overflow: hidden;
  /* Prevent body scroll, handle in main content */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.text-secondary {
  color: var(--text-secondary);
}

.hover-text-primary:hover {
  color: var(--text-primary);
}